# Lab 5: Potential Outcomes and Simulations

Welcome to lab 5! This week, we will go over potential outcomes and simulations, and introduce the concept of randomness. All of this material is covered in [Chapter 9](https://www.inferentialthinking.com/chapters/09/randomness.html) and [Chapter 10](https://www.inferentialthinking.com/chapters/10/sampling-and-empirical-distributions.html) of the textbook as well as Chapter 2 of Gerber and Green.

In [1]:
import numpy as np
import pandas as pd

# These lines set up graphing capabilities.
import matplotlib.pyplot as plt

## 1. Potential Outcomes

We are going to use Python to re-create the analyses done in Chapter 2 of Gerber and Green.

First, let's re-create Table 2.1. Do not manually enter the average of the treatment effect. For now, we only want Y0 and Y1.

In [2]:
table2_1 = np.array([[10, 15],
                   [15, 15],
                    [20, 30],
                    [20, 15],
                    [10, 20],
                    [15, 15],
                    [15, 30]])
# run this code as is to create a pandas data frame
table2_1 = pd.DataFrame(data=table2_1, columns = ['Y0', 'Y1'])
table2_1

   Y0  Y1
0  10  15
1  15  15
2  20  30
3  20  15
4  10  20
5  15  15
6  15  30

**Question 1.** What is the average potential outcome under control? What is the average potential outcome under treatment?

In [3]:
y0_average = ...
y1_average = ...

# keep this to display your answer.
print("The potential outcome under control is ", y0_average)
print("The potential outcome under treatment is ", y1_average)

The potential outcome under control is  Ellipsis
The potential outcome under treatment is  Ellipsis

**Question 2.** For each village, now calculate the individual treatment effect. Add this as a column to the data frame `table2_1`. Make sure it matches table2_1 from the book.

In [4]:
table2_1['treatment_effect'] = ...

# keep this to display your answer
table2_1

   Y0  Y1 treatment_effect
0  10  15         Ellipsis
1  15  15         Ellipsis
2  20  30         Ellipsis
3  20  15         Ellipsis
4  10  20         Ellipsis
5  15  15         Ellipsis
6  15  30         Ellipsis

**Question 3.** What is the average treatment effect?

In [5]:
treatment_average = ...

# keep this to display your answer.
print("The average treatment effect is ", treatment_average)

The average treatment effect is  Ellipsis

## 2. Conditionals

Before we continute in our analysis of experiments, it is helpful to learn a bit more Python.

In Python, Boolean values can either be `True` or `False`. We get Boolean values when using comparison operators, among which are `<` (less than), `>` (greater than), and `==` (equal to). For a complete list, refer to [Booleans and Comparison](https://www.inferentialthinking.com/chapters/09/randomness.html#Booleans-and-Comparison) at the start of Chapter 9.

Run the cell below to see an example of a comparison operator in action.

In [6]:
3 > 1 + 1

True

We can even assign the result of a comparison operation to a variable.

In [7]:
result = 10 / 2 == 5
result

True

Arrays are compatible with comparison operators. The output is an array of boolean values.

In [8]:
np.array([[1, 5, 7, 8, 3, -1]]) > 3

array([[False,  True,  True,  True, False, False]])

Waiting on the dining table just for you is a hot bowl of nachos! Let's say that whenever you take a nacho, it will have cheese, salsa, both, or neither (just a plain tortilla chip). 

Using the function call `np.random.choice(array_name)`, let's simulate taking nachos from the bowl at random. Start by running the cell below several times, and observe how the results change.

In [9]:
nachos = np.array(['cheese', 'salsa', 'both', 'neither'])
np.random.choice(nachos)

'cheese'

**Question 4.** Assume we took ten nachos at random, and stored the results in an array called `ten_nachos` as done below. Find the number of nachos with only cheese using code (do not hardcode the answer).  

*Hint:* Our solution involves a comparison operator and the `np.count_nonzero` method. You might want to read online about the relationship between non-zero and something being true.

In [10]:
ten_nachos = np.array([['neither', 'cheese', 'both', 'both', 'cheese', 'salsa', 'both', 'neither', 'cheese', 'both']])
number_cheese = ...

# keep this to display your answer.
print("The number of nachos with only cheese is ", number_cheese)

The number of nachos with only cheese is  Ellipsis

**Conditional Statements**

A conditional statement is made up of many lines that allow Python to choose from different alternatives based on whether some condition is true.

Here is a basic example.

```
def sign(x):
    if x > 0:
        return 'Positive'
```

How the function works is if the input `x` is greater than `0`, we get the string `'Positive'` back.

If we want to test multiple conditions at once, we use the following general format.

```
if <if expression>:
    <if body>
elif <elif expression 0>:
    <elif body 0>
elif <elif expression 1>:
    <elif body 1>
...
else:
    <else body>
```

Only one of the bodies will ever be executed. Each `if` and `elif` expression is evaluated and considered in order, starting at the top. As soon as a true value is found, the corresponding body is executed, and the rest of the expression is skipped. If none of the `if` or `elif` expressions are true, then the `else body` is executed. For more examples and explanation, refer to [Section 9.1](https://www.inferentialthinking.com/chapters/09/1/conditional-statements.html).

**Question 5.** Complete the following conditional statement so that the string `'More please'` is assigned to `say_please` if the number of nachos with cheese in `ten_nachos` is less than `5`.

*Hint*: You should not have to directly reference the variable `ten_nachos`.

In [11]:
say_please = '?'

if ...:
    say_please = 'More please'
    
say_please

'More please'

**Question 6.** Write a function called `nacho_reaction` that returns a string based on the type of nacho passed in as an argument. From top to bottom, the conditions should correspond to: `'cheese'`, `'salsa'`, `'both'`, `'neither'`.

In [12]:
def nacho_reaction(nacho):
    if ...:
        return 'Cheesy!'
    # next condition should return 'Spicy!'
    ...
    # next condition should return 'Wow!'
    ...
    # next condition should return 'Meh.'
    ...

# keep to display your answers.
print(nacho_reaction('cheese'))
print(nacho_reaction('salsa'))
print(nacho_reaction('both'))
print(nacho_reaction('neither'))

Cheesy!
Cheesy!
Cheesy!
Cheesy!

**Question 7.** Add a column `'Reactions'` to the dataframe `ten_nachos` that consists of reactions for each of the nachos in `ten_nachos`. 

*Hint:* Use the `apply` method.

In [13]:
# Do not change this code.
# We are converting the array to a data frame
# And transposing that data frame
# See http://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.T.html#pandas.DataFrame.T
ten_nachos = pd.DataFrame(ten_nachos)
ten_nachos = ten_nachos.T
# here's what this looks like:
ten_nachos

         0
0  neither
1   cheese
2     both
3     both
4   cheese
5    salsa
6     both
7  neither
8   cheese
9     both

In [14]:
# now implement your code to answer the question.
ten_nachos['Reactions'] = ...
ten_nachos

         0 Reactions
0  neither  Ellipsis
1   cheese  Ellipsis
2     both  Ellipsis
3     both  Ellipsis
4   cheese  Ellipsis
5    salsa  Ellipsis
6     both  Ellipsis
7  neither  Ellipsis
8   cheese  Ellipsis
9     both  Ellipsis

**Question 8.** Using code, find the number of `'Wow!'` reactions for the nachos in `ten_nachos`.

In [15]:
number_wow_reactions = ...

# keep to display your answer.
print("Number of wow reactions is ", number_wow_reactions)

Number of wow reactions is  Ellipsis

## 3. Observed Outcomes

Now that we understand conditionals in Python, we can return to potential outcomes. Using conditionals, we will start to analyze an experiment. 

Table 2.1 consists of potential outcomes. But in the real world, we will never observe all of Table 2.1. For each village (or voter, or person, etc.) we will only ever observe either their potential outcome under control *or* their potential outcome under treatment, but never both.

**Question 6.** Using what you just learned from the nacho example, create a table with **observed** outcomes. This table should have a column called `y_observed` based on whether the village was in treatment (1) or not (0). 

The code below creates a table for you to get started. In the block after it, enter your solution. You should use a conditional or an if statement in your solution (not Eq. 2.2).

Can you add comments to this code on what is happening at each line?

In [16]:
# this is the assignment given in table 2.2.
# just run this but do not change it.
# see if you can understand what is happening.
observed = pd.DataFrame(np.array([1, 0, 0, 0, 0, 0, 1]), columns = ['observed_treat'])
table2_2 = pd.concat([table2_1, observed], axis = 1)
table2_2

   Y0  Y1 treatment_effect  observed_treat
0  10  15         Ellipsis               1
1  15  15         Ellipsis               0
2  20  30         Ellipsis               0
3  20  15         Ellipsis               0
4  10  20         Ellipsis               0
5  15  15         Ellipsis               0
6  15  30         Ellipsis               1

In [17]:
# Enter your solution here.
# Call the new column 'observed_outcome'
...

# Leave this to display the table. 
table2_2

   Y0  Y1 treatment_effect  observed_treat
0  10  15         Ellipsis               1
1  15  15         Ellipsis               0
2  20  30         Ellipsis               0
3  20  15         Ellipsis               0
4  10  20         Ellipsis               0
5  15  15         Ellipsis               0
6  15  30         Ellipsis               1

**Question 9.** Now let's try a different way to create this column using Equation 2.2 from Gerber and Green instead.

In [18]:
table2_2['observed_outcome_v2'] = ...
table2_2

   Y0  Y1 treatment_effect  observed_treat observed_outcome_v2
0  10  15         Ellipsis               1            Ellipsis
1  15  15         Ellipsis               0            Ellipsis
2  20  30         Ellipsis               0            Ellipsis
3  20  15         Ellipsis               0            Ellipsis
4  10  20         Ellipsis               0            Ellipsis
5  15  15         Ellipsis               0            Ellipsis
6  15  30         Ellipsis               1            Ellipsis

**Question 10.** Given these observed outcomes, what is your estimate of the average treatment effect? Do not use the columns `Y0` or `Y1`. You can only use the columns `observed_treat` or `observed_outcome_v2`. See Equation 2.13 if you need help.

In [19]:
ate = ...

# leave this.
print("The ATE is ", ate)

The ATE is  Ellipsis

## 4. Simulations
Using a `for` statement, we can perform a task multiple times. This is known as iteration. Here, we'll simulate drawing different suits from a deck of cards.

In [20]:
suits = np.array(["♤", "♡", "♢", "♧"])

draws = np.array([])

repetitions = 6

for i in np.arange(repetitions):
    draws = np.append(draws, np.random.choice(suits))

draws

array(['♢', '♢', '♤', '♤', '♢', '♤'], dtype='<U32')

In the example above, the `for` loop appends a random draw to the `draws` array for every number in `np.arange(repetitions)`. 

"Here's a nice way to think of what we did above. We had a deck of 4 cards of different suits, we randomly drew one card, saw the suit, kept track of it in `draws`, and put the card back into the deck. We repeated this for a total of 6 times without having to repeat code, thanks to the for loop. We simulated this experiment using a `for` loop. 

Another use of iteration is to loop through a set of values. For instance, we can print out all of the colors of the rainbow.

In [21]:
rainbow = np.array(["red", "orange", "yellow", "green", "blue", "indigo", "violet"])

for color in rainbow:
    print(color)

red
orange
yellow
green
blue
indigo
violet

We can see that the indented part of the `for` loop, known as the body, is executed once for each item in `rainbow`. Note that the name `color` is arbitrary; we could easily have named it something else. The important thing is we stay consistent throughout the for loop.

In [22]:
for another_name in rainbow:
    print(another_name)

red
orange
yellow
green
blue
indigo
violet

In general, however, we would like the variable name to be somewhat informative.

**Question 11.** Clay is playing darts. His dartboard contains ten equal-sized zones with point values from 1 to 10. Write code that simulates his total score after 1000 dart tosses. Make sure to use a `for` loop.

*Hint:* There are a few steps to this problem (and most simulations): 
1. Figuring out the big picture of what we want to simulate (the total score after 1000 dart tosses)
2. Deciding the possible values you can take in the experiment (point values in this case) and simulating one example (throwing one dart)
3. Deciding how many times to run through the experiment (1000 tosses in our case) and keeping track of the total information of each time you ran through the experiment (the total score in this case)
4. Coding up the whole simulation!

In [23]:
possible_point_values = ...
tosses = 1000
total_score = ...

# a for loop would be useful here


total_score

Ellipsis

*Brief aside.* Run the above code a few times. You should get a different answer each time, but always close to 5,000. The reason you're getting a different answer every time you run the code is because your computer is re-doing the random sampling every time. If you wanted to always get the same answer (which is often a good practice), you would want to use the `numpy.random.seed()` command.

**CHALLENGE Question 12.** In Table 2.2, we had one random assignment in which 2 villages were assigned to treatment and 5 villages were assigned to control. I just gave that to you. But there are many possible ways to randomly assign these 7 villages to either treatment or control. Write a `for` loop to assign a village to either treatment or control in the expanded case of 20 villages. Run the for loop 100 times. For each time, calculate the ATE and store this. Plot a histogram of the ATEs.

*Hint* This should look similar to the suits example.

In [24]:
# This cell block is set-up. You should not need to change it.
# Start with a dataframe of the potential outcomes:
df = np.array([[20, 35],
                    [25, 10],
                    [15, 25],
                    [10, 15],
                    [15, 35],
                    [25, 30],
                    [25, 20],
                    [15, 15],
                    [10, 10],
                    [10, 20],
                    [25, 30],
                    [30, 15],
                    [10, 20],
                    [20, 10],
                    [15, 35],
                    [25, 30],
                    [15, 20],
                    [15, 25],
                    [15, 15],
                    [20, 10],
                    ])
df = pd.DataFrame(data=df, columns = ['Y0', 'Y1'])

# create an empty array called `ates`. You will want to fill this up with the ate after each randomization.
ates = []
# you will run the loop 100 times.
draws = 100

In [25]:
for i in np.arange(draws):
    # First, write a function to randomly assign villages to treatment or control
    # You can assume that each village has a 50% probability of being assigned to treatment
    # I'm giving this line to you
    df['treat'] = np.random.choice([0, 1], size=(20))

    # Determine the observed outcome using code from earlier in the lab
    df['observed_outcome'] = ...

    # Calculate the ATE using code from earlier in the lab
    mean_treat = ...
    mean_control = ...
    ate = ...

    # store the ATE
    # I'm giving this line to you
    ates = np.append(ates, ate)

# Print this to check your work
print("How many ATEs did you store?", len(ates))
print("The average ATE is", np.mean(ates))
# Here is the plot of ATEs
plt.hist(ates)

How many ATEs did you store? 100

TypeError: unsupported operand type(s) for +: 'ellipsis' and 'ellipsis'

**Bonus Question** How does this compare to the *true* ATE?

In [ ]:
treat_effect = ...
print("The true ATE is ", treat_effect.mean())

# Congratulations!

You are done with the lab. Before you finish and submit, please fill out this brief evaluation:

- I spent around XXXX hours on this lab,.
- This lab was (too easy, too hard, just about the right difficulty).

**To turn in your lab, you will need to submit a PDF through Canvas.**